/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2016, 5:14:03 AM
    Author     : Brian Dayhoff <brian@mopsyd.me>
*/

#environment-progress, div.progress.square.no-margin-vert {
    height: 3px;
}

#environment-table-header-wrapper {
    line-height:50px;
    height: 50px;
}

table#environment-results th.category, table#environment-results th.status, 
table#environment-results td.status, table#environment-results th.diagnosis, 
table#environment-results td.diagnosis {
   text-align: center;   
}