
/* 
   The MIT License
  
   Copyright 2016 Brian Dayhoff <brian@mopsyd.me>.
  
   Permission is hereby granted, free of charge, to any person obtaining a copy
   of this software and associated documentation files (the "Software"), to deal
   in the Software without restriction, including without limitation the rights
   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   copies of the Software, and to permit persons to whom the Software is
   furnished to do so, subject to the following conditions:
  
   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.
  
   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
   THE SOFTWARE.
*/

/* 
    Created on : Jun 9, 2016, 6:27:15 AM
    Author     : Brian Dayhoff <brian@mopsyd.me>
*/

/*-------------------------------------------------
|                    Utilities                    |
-------------------------------------------------*/

.row-no-padding {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.row-no-padding-vert {
    [class*="col-"] {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.cols-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cols-no-padding-vert > [class*="col-"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.row-no-margin {
    [class*="col-"] {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.row-no-margin-vert {
    [class*="col-"] {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.cols-no-margin > [class*="col-"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cols-no-margin-vert > [class*="col-"] {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-vert {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-vert {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.no-margin-vert {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin-vert {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.square {
    border-radius: 0 !important;
}

.inline-block {
    display: inline-block !important;
}

/*-------------------------------------------------
|                Installer Styling                |
-------------------------------------------------*/

body {
    font-family: "Avenir","Raleway","Roboto",Arial,Helvetica,"Droid Sans",sans-serif;
}

.logo {
    height: 47px;
    line-height: 47px;
    width: auto;
    padding: .25ex 0;
    box-sizing: border-box;
    display:block;
}

.logo-wrapper {
    display: inline-block;
    height: 100%;
    width:auto;
    margin: 0;
    padding: 0;
}

h1#navbar-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    display:inline-block;
    box-sizing: border-box;
    float: initial;
    display:inline-block;
    vertical-align: middle;
    line-height:50px;
}

#oroboros-installer-pagehead {
    border:none !important;
}

.header-spacer {
    height: 51px;
    display:block;
    position:relative;
    clear:both;
}

#oroboros-installer-pagehead {
    padding-top: 0;
    margin-top: 0;
}

/*
    Nav Styling
*/

nav.navbar.navbar-inverse, #oroboros-installerfooter {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#form-wizard nav.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
}

#progress-hud {
    padding-top: 50px;
    max-height: 100px;
}

#progress-hud > .container {
    max-height: 50px;
}

#progress-hud > .container > ul {
    list-style: none;
    height: 50px;
}

#progress-hud > .container > ul > li {
    display:inline-block;
}

#progress-hud > .container > ul > li.disabled span.glyphicon {
    color: #ddd;
}

#progress-hud > .container > ul > li.disabled span.icon-roundel-empty {
    border-color: #ddd;
}

#progress-hud > .container > ul > li.disabled span.icon-roundel-filled {
    background-color: #ddd;
}


/*-------------------------------------------------
|                      Icons                      |
-------------------------------------------------*/

.glyphicon.icon-roundel-filled {
    -ms-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.text-muted.glyphicon.icon-roundel-filled {background-color: #777}
.text-primary.glyphicon.icon-roundel-filled {background-color: #337ab7}
.text-success.glyphicon.icon-roundel-filled {background-color: #3c763d}
.text-info.glyphicon.icon-roundel-filled {background-color: #31708f}
.text-warning.glyphicon.icon-roundel-filled {background-color: #8a6d3b}
.text-danger.glyphicon.icon-roundel-filled {background-color: #a94442}

.glyphicon.icon-roundel-empty {
    border: 2px solid;
    -ms-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 8.5px;
}

.text-muted.glyphicon.icon-roundel-empty {border-color: #777}
.text-primary.glyphicon.icon-roundel-empty {border-color: #337ab7}
.text-success.glyphicon.icon-roundel-empty {border-color: #3c763d}
.text-info.glyphicon.icon-roundel-empty {border-color: #31708f}
.text-warning.glyphicon.icon-roundel-empty {border-color: #8a6d3b}
.text-danger.glyphicon.icon-roundel-empty {border-color: #a94442}

.icon-stack {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.icon-stack .glyphicon {
    height: 35px;
    width: 35px;
    display:inline-block;
    line-height: 33px;
    text-align: inherit;
    vertical-align: inherit;
}
nav#progress-hud li[data-toggle="tooltip"]:hover:not(.disabled) > .icon-stack:not(.disabled) .glyphicon,
nav#progress-hud li[data-toggle="tooltip"]:hover:not(.disabled) > .icon-stack:not(.disabled) [class^="icon-roundel-"] {
    color: #88b5dd;
}

/*-------------------------------------------------
|                  Sticky Footer                  |
-------------------------------------------------*/

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#pagewrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    display:block;
}

/* Set the fixed height of the footer here */
#oroboros-installerfooter {
    height: 60px;
    background-color: #f5f5f5;
}

/*-------------------------------------------------
|                    Animation                    |
-------------------------------------------------*/

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/*-------------------------------------------------
|                    Bug Fixes                    |
-------------------------------------------------*/

//fixes progress bar derp in chrome
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}