<div class="row">
    <div class="col-lg-12">
        <div class="">
            <p><?= '';//$message; ?></p>
            <?php
            if (isset($data['form'])) {
                include __DIR__ . DIRECTORY_SEPARATOR . '..' . DIRECTORY_SEPARATOR . 'form' . DIRECTORY_SEPARATOR . $data['form'];
            } else {
                ?>
                <form method="post">
                    <div class="row">
                        <hr>
                        <div class="col-lg-12 form-group">
                            <button name="step" type="submit" class="btn btn-primary" value="<?= '';//$data['step_previous']; ?>">Go Back</button>
                        </div>
                    </div>
                </form>
<?php } ?>
        </div>
    </div>
</div>