<div class="row">
    <div class="col-lg-12">
        <div class="">
            <p><?= '';//$message; ?></p>
            <form method="post">
                <div class="row">
                    <hr>
                    <div class="col-lg-12 form-group">
                        <button name="step" type="submit" class="btn btn-primary" value="launch">Take me to the login page!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>