<div id="welcome-cta" class="jumbotron">
    <div class="container">
        <div class="row">
            <div id="biglogo" class="col-lg-12 ">
                <img src="<?= $this->resource('img'); ?>bigwelcomelogo.png" class="img-responsive center-block" alt="Oroboros" />
            </div>
            <div class="col-lg-12">
                <form method="post">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <button id="installer-next-button" name="step" type="submit" class="btn btn-warning btn-lg center-block" value="<?= $this->_getParam('step_next'); ?>">
                                <h4 id="cta-button-content"><strong>Let's Get Started.</strong></h4>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <img class="card-img-top" data-src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</div>