<?php
//load the debug drawer if debug is enabled
if (defined("OROBOROS_DEBUG") && OROBOROS_DEBUG):?><div id="drawerExample" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="drawerExample">
    <div class="drawer-controls">
        <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-console"></span></a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title">Ajax Debug Panel</h2>
        </div>
        <div class="drawer-body">
            <div class=""><pre><code id="debug_log"></code></pre></div>
        </div>
        <div class="drawer-footer">
            <small></small>
        </div>
    </div>
</div>
<?php endif; ?>
