
<div class="row">
    <hr>
    <form method="post">
        <div class="col-lg-12 form-group">
            <button name="step" type="submit" class="btn btn-primary" value="<?= $this->_getParam('step_previous'); ?>">Go Back</button>
        </div>
    </form>
</div>
